*.wav
src/models/FaceDetection/encodings/
src/models/FaceDetection/referenceCode/
src/models/FaceDetection/Rowan/
src/models/FaceDetection/results/
image.jpg
/sscv
results.txt
/configOther
config
/temp
*.pyc
*/__pycache__